/**
 * Helpers
 */

// Classic clearfix
.clearfix::before,
.clearfix::after {
  content: ' ';
  display: block;
}

.clearfix:after {
  clear: both;
}

// Text alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

// Display
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

// Vertical center
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Display State
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

// Padding
.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-top {
  padding-top: 2rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}

// Margins
.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

// Screen reader text for accessibility
.sr-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// font styles
.font-impact {
  font-family: Sanchez-regular;
  font-size: 1.1rem;
  color: darken($accent-color, 10%);
}
