---

port: 4000
host: 0.0.0.0
safe: false


### site serving configuration ###
exclude: [CNAME, README.md, npm.md, SECURITY.md, LICENSE.md, .gitignore, package.json, package-lock.json, postcss.config.js, .browserslistrc, city-jekyll-theme.gemspec]
permalink: /:title ## disables post output
url: "https://woodcock3.github.io"
baseurl: "/city-jekyll"
timezone: null
lsi: false
markdown: kramdown
highlighter: rouge


### content configuration ###
title:              "City-Jekyll"
keywords:           "City, evangelical, church, Leeds, best, christian, Jesus, bible, gospel, Christ, God, Faith, Lord"
description:        "A Jekyll theme &amp; Sass Boilerplate"
author:             "woodcock3"
source_link:        "https://github.com/woodcock3/city-jekyll"
favicon:            "/assets/img/favicon/favicon.ico"
favicon_16:         "/assets/img/favicon/favicon-16x16.png"
favicon_32:         "/assets/img/favicon/favicon-32x32.png"
touch_icon:         "/assets/img/favicon/apple-touch-icon.png" ## City logo as apple touch icon
safari_pinned_tab:  "/assets/img/favicon/safari-pinned-tab.svg" ## put safari pinned tab svg icon here

typewriter:  ### Hero typewriter message on homepage 
  - message: ""Welcome""
  - message: ""Sundays: 10:45am and 6:30pm""
  - message: ""A city church with a community presence.""
  - message: ""We believe Jesus is good news.""

google_analytics_key: ## put YOUR key here to enable tracking! (blank to disable)


### template colors, used site-wide via css ###
colors:
  white:        '#f8f8f8'
  black:        '#2e2e2e'
  ckyellow:     '#febd2e'
  ckblue:       '#01a8ff'
  teal:         '#009688'
  cityorange:   '#f19426'
  cityblue:     '#259cd3'
  citygreen:    '#06892f'
  grey:         '#cdcdcd'
  darkgrey:     '#404040'
  whiteish:     '#fafafa'
  jetblack:     'black'
  sowhite:      'white'

kramdown:
  auto_ids:  false

collections_dir: pages

collections:
  home:
    output: true
    permalink: /
  sunday:
    output: true
    permalink: /sunday/
  media:
    output: true
    permalink: /media/
  docs:
    output: true
    permalink: /docs/


### sass
sass:
  sass_dir: '_sass'
  style: expanded

plugins:
  - jekyll-postcss-v2

### autoprefixer 
#autoprefixer:
#  browsers:
#  - last 10 versions


### Import a json feed as data
### Uses https://rss2json.com
jekyll_get_json:
  - data: calendar
    json: {{ site.env.CALENDAR_TEST | liquify }}
  - data: growthgroup
    json: 'https://cecleeds.churchsuite.co.uk/embed/smallgroups/json'
  - data: sermons
    json: 'https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fcecleeds.co.uk%2Fsermons.php'
  - data: YouTube
    json: 'https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fwww.youtube.com%2Ffeeds%2Fvideos.xml%3Fchannel_id%3DUCALb0SwFaFdPY2gwOesvb_g%26noapp%3D1'

### Compress html settings - http://jch.penibelst.de/
compress_html:
  clippings: [all]
  comments: [all]
  endings: [all]
  ignore:
    envs: []
  blanklines: false
  profile: false
  startings: []
