{% include modules/preloader.html %}

<div class="logo">
  <a href="{{ site.url | append: site.baseurl }}" class="brand-logo"><div id="svgColor">{% include svg/city-vector.svg %}</div></a>
</div>
<div class="hamburger-wrapper">
  <input class="checkbox-toggle" type="checkbox" id="prim-menu-checkbox" onclick="logoToggle()"/>
  <div class="hamburger">
    <div></div>
  </div>
  <div class="hamburger-menu">
    <div>
      <div>
        <ul>{% for link in site.data.nav.primary %}{% capture navhref %}{{ link.href | relative_url }}{% endcapture %}
          <li><a href="{{ navhref }}" class="animate-nav-link{% if link.href == page.url %} current{% endif %}">{{ link.text }}</a></li>{% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

