<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
  <!-- CSS  -->{% assign buildversion = site.time | date:'?v=%s' %}
  <style type="text/css">
    {{ site.data.styles }}
  </style>
  <link rel="stylesheet" href="{{ '/assets/css/city.css' | append: buildversion | relative_url }}" />
  {%- if site.touch_icon %}<link rel="apple-touch-icon" sizes="180x180" href="{{ site.touch_icon | relative_url }}" />{% endif %}
    {%- if site.favicon_32 %}<link rel="icon" type="image/png" sizes="32x32" href="{{ site.favicon_32 | relative_url }}" />{% endif %}
    {%- if site.favicon_16 %}<link rel="icon" type="image/png" sizes="16x16" href="{{ site.favicon_16 | relative_url }}" />{% endif %}
    <link rel="manifest" href="/site.webmanifest" />
    {%- if site.safari_pinned_tab %}<link rel="mask-icon" href="{{ site.safari_pinned_tab | relative_url }}" color="{{ site.colors.cityorange }}" />{% endif %}
    {%- if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon | relative_url }}" />{% endif %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | relative_url }}" />
    <meta name="msapplication-TileColor" content="{{ site.colors.cityblue }}">
    <meta name="msapplication-config" content="{{ site.baseurl }}/browserconfig.xml">
    <meta name="theme-color" content="{{ site.colors.cityblue }}">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
  <script src="{{ '/assets/js/contacts.js' | append: buildversion | relative_url }}"></script>
  {%- if site.counter_web_analytics %}<!-- Counter.dev Web Analytics --><script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"{{ site.counter_web_analytics }}",utcoffset:"0"}))};sessionStorage.setItem("_swa","1");</script><!-- End Counter.dev Web Analytics -->{% endif %}
  {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
  {%- assign current_page = crumbs.last %}
  {%- if current_page == "media" %}<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>{% endif %}
</head>
<body>
