<section class="hero full-container">
  {% include templates/navbar.html %}
  <div class="hero-text">
    <h1 class="hero-text-h1">City Evangelical Church</h1>
    <h2 class="hero-text-h2">
      <a href="" class="typewrite" aria-hidden="true" data-period="2000" data-type='[{% for typing in site.typewriter %}"{{ typing.message }}"{% unless forloop.last %}, {% endunless %}{% endfor %}]'>
        <span class="wrap"></span>
      </a>
    </h2>
  </div>
  <div class="hero-buttons text-center">
    {%- for hero-btn in site.data.nav.home_hero_buttons %}
    <a class="button muted-button" href="{{ hero-btn.href | relative_url }}">{{ hero-btn.text }}</a>
    {%- endfor %}
  </div>
</section>
