<section class="hero full-container ">
  {% include templates/navbar.html %}
  <div class="hero-text">
    <h1 class="hero-text-h1">City Evangelical Church</h1>
    <h2 class="hero-text-h2">
      <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome", "Sundays: 10:45am and 6:30pm", "A city church with a community presence.", "We believe Jesus is good news."]'>
        <span class="wrap"></span>
      </a>
    </h2>
  </div>
  <div class="hero-buttons small-container">
    <div class="flex-row">
      {%- for hero-btn in site.data.nav.home_hero_button %}
      <a class="flex-small sm-one-third button muted-button full-button" href="{{ hero-btn.href }}">{{ hero-btn.text }}</a>
      {%- endfor %}
    </div>
  </div>
</section>
