{% include modules/preloader.html %}

<div class="container navbar-wrapper">
  <div class="flex-row">
    <div class="flex-medium">
      <div class="logo">
        <a href="{{ / | relative_url }}" class="brand-logo"><div id="svgColor">{% include svg/city-vector.svg %}</div></a>
      </div>
    </div>
    <div class="flex-medium med-one-fourth">
      <ul class="menu-options">{% for menu in site.data.nav.primary limit:4 %}{% capture menuhref %}{{ menu.href | relative_url }}{% endcapture %}
        <li><a href="{{ menuhref }}" {% if menu.href == page.url %}class="active"{% endif %}>{{ menu.text }}</a></li>{% endfor %}
      </ul>
    </div>
    <div class="flex-medium med-one-third">
      <ul class="menu-options">{% for menu in site.data.nav.primary offset:4 %}{% capture menuhref %}{{ menu.href | relative_url }}{% endcapture %}
        <li><a href="{{ menuhref }}" {% if menu.href == page.url %}class="active"{% endif %}>{{ menu.text }}</a></li>{% endfor %}
      </ul>
    </div>
  </div>
  <div class="outer-menu">
    <input class="checkbox-toggle" type="checkbox" id="prim-menu-checkbox" onclick="logoToggle()"/>
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>{% for link in site.data.nav.primary %}{% capture navhref %}{{ link.href | relative_url }}{% endcapture %}
            <li><a href="{{ navhref }}" {% if link.href == page.url %}class="active"{% endif %}>{{ link.text }}</a></li>{% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
