<nav>
  <div class="container navbar-wrapper">
    <div class="flex-row">
      <div class="flex-medium">
        <div></div>
      </div>
      <div class="flex-medium med-one-fourth">
        <ul class="navbar-menu">{% for menu in site.data.nav.primary limit:4 %}{% capture menuhref %}{{ menu.href | relative_url }}{% endcapture %}
          <li><a href="{{ menuhref }}" class="animate-nav-link{% if menu.href == page.url %} current{% endif %}">{{ menu.text }}</a></li>{% endfor %}
        </ul>
      </div>
      <div class="flex-medium med-one-fourth">
        <ul class="navbar-menu">{% for menu in site.data.nav.primary offset:4 %}{% capture menuhref %}{{ menu.href | relative_url }}{% endcapture %}
          <li><a href="{{ menuhref }}" class="animate-nav-link{% if menu.href == page.url %} current{% endif %}">{{ menu.text }}</a></li>{% endfor %}
        </ul>
      </div>
    </div>
  </div> 
<nav>
