<nav>
  <div class="second-nav medium-container padding-top {% for node in webpage %}{% capture bg %}{{ node.bg-color | first }}{% endcapture %}{% if bg == "alternate-background" %}alternate-background">{% endif %}{% endfor %}
    <ul class="flex-row text-center">
      {%- for node in webpage %}
      {%- capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
        <li class="p-{{id}} flex-small justify-center"><a class="animate-nav-link" href="#{{id}}">{{node.title}}</a></li>
      {%- endfor %}
    </ul>
  </div>
</nav>
