<nav>
  <div class="second-nav medium-container padding-top{% for page in webpage %}{% capture bg %}{{ page.bg-color | first }}{% endcapture %}{% if bg == "alternate-background" %} alternate-background{% endif %}{% endfor %}">
    <ul class="flex-row text-center">
      {%- for node in webpage %}
      {%- capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
      <li class="p-{{id}} flex-small justify-center"><a class="animate-nav-link" href="#{{id}}">{{node.title}}</a></li>
      {%- endfor %}
    </ul>
    <hr>
  </div>
</nav>
