---
---

/*! 
 * City-Jekyll | MIT License
 *
 * Author: Woodcock3
 * Source: https://github.com/woodcock3/city-jekyll
 * Documentation: https://woodcock3.github.io/city-jekyll/docs/
 *
 * Credit: Tania Rascia | Primitive UI | https://github.com/taniarascia/primitive
 */

/* ===========================
 * Configuration
 * =========================== */

@import "base/variables";
@import "base/mixins";

/* ===========================
 * Fonts
 * =========================== */

/* This is in-line-css "fonts/webfonts" see plugin */
@import "fonts/fontawesomesvg";
@import "fonts/syntax-highlight";

/* ===========================
 * Reset
 * =========================== */

@import "base/normalize";
@import "base/reset";

/* ===========================
 * Core
 * =========================== */

@import "core/scaffolding";
@import "core/grid";
@import "core/helpers";

/* ===========================
 * Components
 * =========================== */

@import "components/colors";
@import "components/media";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/accordion";
@import "components/cards";
@import "components/animation";
@import "components/slider";
@import "components/timeline";

/* ===========================
 * Layouts
 * =========================== */

@import "layouts/navigation";
@import "layouts/hero";
@import "layouts/footer";
