<form>
  <div class="flex-row padding-top">
    <div class="flex-tiny ty-one-fourth flex-medium med-one-eighth">
      <select id="choose">
        <option disabled selected>Year</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
      </select>
    </div>
    <div class="flex-tiny ty-half flex-medium med-one-fourth">
      <select id="choose">
        <option disabled selected>Month</option>
        <option value="January">January</option>
        <option value="February">February</option>
      </select>
    </div>
    <div class="flex-tiny ty-one-fourth flex-medium med-one-eighth">
      <select id="choose">
        <option disabled selected>Day</option>
        <option value="01">01</option>
        <option value="02">02</option>
      </select>
    </div>
    <div class="flex-small sm-half flex-medium med-one-fourth">
      <select id="choose">
        <option disabled selected>Preacher/Speaker</option>
        <option value="Michael">Michael</option>
        <option value="David">David</option>
      </select>
    </div>
    <div class="flex-small sm-half flex-medium med-one-fourth">
      <select id="choose">
        <option disabled selected>Series</option>
        <option value="option-1">Option 1</option>
        <option value="option-2">Option 2</option>
      </select>
    </div>
  </div>
</form>
<div class="text-center">
  <button>Clear filters</button>
</div>

## Last 10 sermons

<div class="slider-wrapper">
  <ul class="flex-row-slider align-stretch" data-snap-slider="media-slider-link">{% for talk in site.data.sermons.items %}
    <li class="flex-tiny ty-half flex-small sm-one-third flex-medium med-one-fourth flex-large lg-one-sixth">
      <a class="card-media carousel-snap" href="{{ talk.enclosure.link }}">
        <div class="thumb" style="background: radial-gradient({{ site.colors.cityblue }}, {{ site.colors.citygreen }});">
          <h2 class="thumb-title outline-text-primary">{% assign media = talk.title | split: " - " %}{{ media[1] | slice: 0, 5 }}</h2>
        </div>
        <article>
          <h2>{{ media[1] }}{% if media[0] contains media[1] %}{% else %} - {{ media[0] | slice: 13, 100 }}{% endif %}</h2>
          <p>{{ talk.pubDate | date: "%-d %b %Y - %I:%M %p" }}</p>
          <span>{{ talk.author | split: "(" | last | remove: ")" }}</span>
        </article>
      </a>
    </li>{% endfor %}
  </ul>
  <ul class="slider-nav" data-snap-slider-nav="media-slider-link">
    <li><button class="muted-button" type="button">&#10096;<span class="sr-text">Previous sermon mp3</span></button></li>
    <li><button class="muted-button" type="button">&#10097;<span class="sr-text">Next sermon mp3</span></button></li>
  </ul>
</div>
