<div class="flex-row justify-center align-stretch">{% for talk in site.data.sermons.items %}
  <div class="flex-small sm-half flex-medium med-one-third">
    <a class="card-image" href="{{ talk.enclosure.link }}">
      <div class="thumb" style="background-image: url('');"></div>
      <article>
        <h2>{% assign media = talk.title | split: " - " %}{{ media[1] }}{% if media[0] contains media[1] %}{% else %} - {{ media[0] | slice: 13, 100 }}{% endif %}</h2>
        <p>{{ talk.pubDate | date: "%-d %b %Y - %I:%M %p" }}</p>
        <span>{{ talk.author | split: "(" | last | remove: ")" }}</span>
      </article>
    </a>
  </div>{% endfor %}
</div>
