<div class="timeline">
  <ul>{% for event in site.data.calendar limit:8 %}
    <li>
      <div class="date">
        <span>{{ event.datetime_start | split: " " | first | slice: -2, 2 }}</span>
        <span id="month">{{ event.datetime_start | split: " " | first | date: "%b" }}</span>
      </div>
      <div class="calendar-title">
        <span>{{ event.name }}</span><br>
        <span id="calendar-subtitle">{{ event.datetime_start | split: " " | last | date: "%l:%M %p" }} to {{ event.datetime_end | split: " " | last | date: "%l:%M %p" }}</span>
      </div>
    </li>{% endfor %}
  </ul>
</div>
