<i class="fa fa-map-marker" aria-hidden="true" style="color:white"></i>  **Address:** City Evangelical Church, Cemetery Road, Beeston, Leeds, LS11 8SX - [Find us on google maps](https://goo.gl/maps/EoD83hYx9Lob5TpK6) <i class="fa fa-external-link" aria-hidden="true" style="color:white"></i>

<i class="fa fa-phone" aria-hidden="true" style="color:white"></i>  **Phone:** 0113 270 8568

<i class="fa fa-envelope-o" aria-hidden="true" style="color:white"></i>  **Email:** {% include office_mail.html %}

<i class="fa fa-address-book-o" aria-hidden="true" style="color:white"></i>  **Pastor:** {% include pastor_mail.html %}

#### Follow us on:
<div class="contacts">
  <div class="SocialBox">
    <div><a href="https://www.twitter.com/cecleeds/" target="blank"><i class="fa fa-twitter"></i></a></div>
    <div><a href="https://www.instagram.com/cecleeds/?hl=en" target="blank"><i class="fa fa-instagram"></i></a></div>
    <div><a href="https://www.facebook.com/CECLeeds/" target="blank"><i class="fa fa-facebook"></i></a></div>
    <div><a href="https://www.youtube.com/channel/UCALb0SwFaFdPY2gwOesvb_g" target="blank"><i class="fa fa-youtube-play"></i></a></div>
    <div><a href="https://www.github.com/cecleeds" target="blank"><i class="fa fa-github"></i></a></div>
  </div>
</div>
