<div class="css-avsrvg">
  <div class="css-1u7sq1z" ontouchstart="this.classList.toggle('hover');" style="opacity:1;pointer-events:all">
    <span class="css-6rzpmj">contact@dataveyes.com</span>
  </div>
  <div class="css-1nhgzwl" ontouchstart="this.classList.toggle('hover');" style="opacity:0;pointer-events:none;transform:translateX(-50%)">
    <span class="css-z6sywu">copy email</span>
  </div>
  <div class="css-1nhgzwl" ontouchstart="this.classList.toggle('hover');" style="opacity:0;pointer-events:none;transform:translateX(50%)">
    <a class="css-z6sywu" href="mailto:contact@dataveyes.com" target="_blank">send email</a>
  </div>
</div>

<div class="text-center">
  <span class="button full-button accent-button" ontouchstart="this.classList.toggle('opaque');" onclick="showBTNS()">contact@dataveyes.com</span>
  <div id="contactBTN" style="transform:translateX(50%)">
    <span class="button muted-button">copy email</span>
    <a class="button accent-button" href="mailto:contact@dataveyes.com" target="_blank">send email</a>
  </div>
</div>

<style>
.css-avsrvg {
        position: relative;
        display: flex;
        width: 100%;
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-bottom:10px
    }

    @media (max-width: 768px) {
        .css-avsrvg {
            flex-wrap: wrap;
            -webkit-box-align: center;
            align-items: center;
            height: auto;
            justify-content:stretch
        }
    }

    .css-1u7sq1z {
        position: absolute;
        left: 0;
        transform:translateX(0)
    }

    @media (max-width: 768px) {
        .css-1u7sq1z {
            -webkit-box-flex: 1;
            flex-grow: 1;
            width: 100%;
            left: 50%;
            transform:translateX(-50%)
        }
    }

    .css-6rzpmj {
        cursor: pointer;
        padding: 20px;
        font-weight: 500;
        font-size: 11px;
        -webkit-box-align: center;
        align-items: center;
        line-height: 120%;
        text-align: center;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: #fff;
        background: #2fa36b;
        border-radius: 2px;
        text-decoration: none;
        transition: background 150ms cubic-bezier(.86, 0, .07, 1) 0s;
        display:inline-block
    }

    .css-6rzpmj.active {
        opacity:.5
    }

    .css-6rzpmj:hover {
        text-decoration:underline
    }

    .css-6rzpmj:focus {
        outline:#4d90fe auto 5px
    }

    .css-6rzpmj:hover {
        background: rgba(47, 163, 107, .6);
        text-decoration:none
    }

    @media (max-width: 768px) {
        .css-6rzpmj {
            display: block;
            padding:20px
        }
    }

    @media (max-width: 768px) {
        .css-1nhgzwl {
            -webkit-box-flex: 1;
            flex-grow: 1;
            width:100%
        }
    }

    .css-z6sywu {
        cursor: pointer;
        padding: 20px;
        font-weight: 500;
        font-size: 11px;
        -webkit-box-align: center;
        align-items: center;
        line-height: 120%;
        text-align: center;
        letter-spacing: .2em;
        text-transform: uppercase;
        color: #fff;
        background: #2fa36b;
        border-radius: 2px;
        text-decoration: none;
        transition: background 150ms cubic-bezier(.86, 0, .07, 1) 0s;
        display: inline-block;
        margin-left: 1px;
        margin-right: 1px;
        white-space:nowrap
    }

    .css-z6sywu.active {
        opacity:.5
    }

    .css-z6sywu:hover {
        text-decoration:underline
    }

    .css-z6sywu:focus {
        outline:#4d90fe auto 5px
    }

    .css-z6sywu:hover {
        background: rgba(47, 163, 107, .6);
        text-decoration:none
    }

    @media (max-width: 768px) {
        .css-z6sywu {
            display: block;
            padding:20px
        }
    }

    @media (max-width: 768px) {
        .css-z6sywu {
            -webkit-box-flex: 1;
            flex-grow: 1;
            margin-bottom:1px
        }
    }

</style>
