<div class="css-avsrvg">
  <div class="css-1u7sq1z" ontouchstart="this.classList.toggle('hover');" style="opacity:1;pointer-events:all">
    <span class="css-6rzpmj">contact@dataveyes.com</span>
  </div>
  <div class="css-1nhgzwl" ontouchstart="this.classList.toggle('hover');" style="opacity:0;pointer-events:none;transform:translateX(-50%)">
    <span class="css-z6sywu">copy email</span>
  </div>
  <div class="css-1nhgzwl" ontouchstart="this.classList.toggle('hover');" style="opacity:0;pointer-events:none;transform:translateX(50%)">
    <a class="css-z6sywu" href="mailto:contact@dataveyes.com" target="_blank">send email</a>
  </div>
</div>

<div class="text-center">
  <span class="button full-button accent-button" ontouchstart="this.classList.toggle('opaque');" onclick="showBTNS()">contact@dataveyes.com</span>
  <div class="hidden" id="contactBTN">
    <span class="button">copy email</span>
    <a class="button accent-button" href="mailto:contact@dataveyes.com" target="_blank">send email</a>
  </div>
</div>
