<div class="text-center contact-buttons">
  <span id="emailBTN" class="button full-button accent-button opaque" onclick="showBTNS(); hideBTN();">contact@dataveyes.com</span>
  <div class="hidden copyemail" id="contactBTN">
    <span class="button">copy email</span>
    <a class="button accent-button" href="mailto:contact@dataveyes.com" target="_blank">send email</a>
  </div>
</div>

<div class="colors">
  <div class="color">
    <div style="background: #FAE042;"></div>
    <span>#FAE042</span><br>
    <span>rgba(250,224,66,1)</span>
  </div>

  <div class="color">
    <div style="background: #EFBB35;"></div>
    <span>#EFBB35</span><br>
    <span>rgba(239,187,53,1)</span>
  </div>

  <div class="color">
    <div style="background: #DFA612;"></div>
    <span>#DFA612</span><br>
    <span>rgba(223,166,18,1)</span>
  </div>
</div>

<p class="error-msg">
  Can't copy, hit Ctrl+C!
</p>
