<div class="wrapper">
  <h1>Parallax Flipping Cards</h1>
  <div class="flex-row">{% for item in page.flip-card %}
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="card-container">
        <div class="front" style="background-image: url({{ item.url }})">
          <div class="inner">
            <p>{{ item.title }}</p>
            <span>{{ item.subtitle }}</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>{{ item.content }}</p>
            <a class="button accent-button">More about {{ item.title }}</a>
          </div>
        </div>
      </div>
    </div>{% endfor %}
  </div>
</div>
