<div class="flex-row justify-center align-stretch">
  <div class="flex-small sm-one-third">
    <div class="card bg-primary text-center">
      <h2>Services</h2>
      <p>We meet every Sunday for worship services at 10:45am and 6:30pm.</p>
      <a class="button muted-button arrow-right-icon" href="/sunday/#services">Find out more </a>
    </div>
  </div>
  <div class="flex-small sm-one-third">
    <div class="card bg-dark text-center">
      <h2>Growth groups</h2>
      <p>Every fortnight on Tuesdays, Wednesdays and Thursdays we meet in small groups for bible studies face to face or using a video calling app called Zoom.</p>
      <a class="button muted-button arrow-right-icon" href="/whats-on/#growth-group">Find out more </a>
    </div>
  </div>
  <div class="flex-small sm-one-third">
    <div class="card bg-secondary text-center">
      <h2>Prayer</h2>
      <p>Our church prayer meeting is on the first Wednesday of every month at church from 8pm - 9pm.</p>
      <a class="button muted-button arrow-right-icon" href="/whats-on/#prayer">Find out more </a>
    </div>
  </div>
</div>
