<section class="hero flex-row">
  <div class="hero-text medium-container">
    <h1 class="hero-text-h1">City Evangelical Church</h1>
    <h2 class="hero-text-h2">A city church with a community presence</h2>
  </div>
  <div class="hero-buttons medium-container">
    <div class="flex-row">    
      <button class="muted-button one-third">Book your seat</button>
      <button class="muted-button one-third">Watch service live</button>
      <button class="muted-button one-third">Catch up on YouTube</button>
    </div>
  </div>
</section>
