<section class="hero-image">
  <div class="flex-row">
    <div class="flex-large">
      <div class="hero-text">
        <h1>City Evangelical Church</h1>
        <h2>A city church with a community presence</h2>
      </div>
    </div>
    <div class="flex-small one-third">
      <div class="hero-buttons">
        <button class="muted-button">Book your seat</button>
        <button class="muted-button">Watch service live</button>
        <button class="muted-button">Catch up on YouTube</button>
      </div>
    </div>
  </div>
</section>
