<section class="hero-image">
  <div class="hero-text vertical-center">
    <h1>City Evangelical Church</h1>
    <h2>A city church with a community presence</h2>
    <div class="flex-row">
      <div class="flex-small">
        <div class="one-third hero-buttons">
          <button class="muted-button">Book your seat</button>
          <button class="muted-button">Watch service live</button>
          <button class="muted-button">Catch up on YouTube</button>
        </div>
      </div>
    </div>
  </div>
</section>
