<div class="flex-row justify-center align-stretch">
  <div class="flex-small sm-half flex-medium med-one-third">
    <a class="card-image" href="https://design.tutsplus.com/articles/international-artist-feature-malaysia--cms-26852">
      <div class="thumb" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);"></div>
      <article>
        <h2>International Artist Feature: Malaysia</h2>
        <span>Mary Winkler</span>
      </article>
    </a>
  </div>
</div>
