<div class="flex-row align-stretch">{% for profile in site.data.contact.elders %}
  <div class="flex-small sm-one-half" ontouchstart="this.classList.toggle('hover');">
    <div class="card-profile" style="background-image: url({{ profile.photo }});">
      <ul class="card-social-icons">
        <li>
          <a class="social-button" href="{{ profile.phoneurl }}">
            <svg class="phone-icon"></svg>
          </a>
        </li>
        <li>
          <a class="social-button" href="{{ profile.emailurl }}">
            <svg class="email-icon"></svg>
          </a>
        </li>
        <li>
          <a class="social-button" href="{{ profile.whatsappurl }}">
            <svg class="whatsapp-icon"></svg>
          </a>
        </li>
      </ul>
      <div class="card-details">
        <h3>{{ profile.name }}
          <br>
          <span class="job-title">{{ profile.role }}</span>
        </h3>
        <p>{{ profile.info }}</p>
      </div>
      <div class="card-title">
        <h3>{{ profile.name }}</h3>
      </div>
    </div>
  </div>{% endfor %}
</div>
