<div class="flex-row justify-center">
  <div class="flex-small sm-one-third">{% for profile in site.data.contact.elders %}
    <div class="card-profile" style="background-image: url('https://image.ibb.co/dUTfmJ/profile_img.jpg');">
      <ul class="card-social-icons">
        <li>
          <a class="card-icons" href="">
            <i class="facebook-icon"></i>
          </a>
        </li>
        <li>
          <a class="card-icons" href="">
            <i class="instagram-icon"></i>
          </a>
        </li>
        <li>
          <a class="card-icons" href="">
            <i class="twitter-icon"></i>
          </a>
        </li>
      </ul>
      <div class="card-details">
        <h2>{{ profile.name }}
          <br>
          <span class="job-title">{{ profile.role }}</span>
        </h2>
        <p>{{ profile.info }}</p>
      </div>
    </div>
  </div>{% endfor %}
</div>
