<div class="flex-row">{% for profile in site.data.contact.elders %}
  <div class="flex-small sm-one-half">
    <div class="card-profile" style="background-image: url({{ profile.photo }});">
      <ul class="card-social-icons">
        <li>
          <a class="card-icons" href="">
            <i class="facebook-icon"></i>
          </a>
        </li>
        <li>
          <a class="card-icons" href="">
            <i class="instagram-icon"></i>
          </a>
        </li>
        <li>
          <a class="card-icons" href="">
            <i class="twitter-icon"></i>
          </a>
        </li>
      </ul>
      <div class="card-details">
        <h3>{{ profile.name }}
          <br>
          <span class="job-title">{{ profile.role }}</span>
        </h3>
        <p>{{ profile.info }}</p>
      </div>
    </div>
  </div>{% endfor %}
</div>
