<picture class="responsive-image">
  <source 
    srcset="{%- for size in page.image-size -%}{%- capture imgurl -%}/assets/img/{{ size }}/{{ page.image-title }}.jpg {%- endcapture -%}{{ imgurl | relative_url }} {{ size }}W{% if forloop.last == false %}, {% endif %}{%- endfor -%}"
    sizes="(min-width: 70rem) 100vw,
           (min-width: 50rem) 100vw,
           100vw">
  <img src="{%- capture url -%}/assets/img/600/{{ page.image-title }}.jpg{%- endcapture -%}{{ url | relative_url }}"
       alt="{{ image-alt-text }}">
</picture>     
