<div class="contain-table">
  <table class="striped-table">
    <thead>
      <tr>{% for head in page.table %}
        <th>Head 1</th>
        <th>Head 2</th>
        <th>Head 3</th>{% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Footer 1</th>
        <th>Footer 2</th>
        <th>Footer 3</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>Description 1</td>
        <td>Description 2</td>
        <td>Description 3</td>
      </tr>
    </tbody>
  </table>
</div>
