<div class="middle">
    <span id="hi">Hello Hưng !</span>
    <div class="timeline">
      <ul>
        <li>
          <div class="hour">
            <span>8</span>
            <span id="sub">AM</span>
          </div>
          <div class="work">
            <span>have some breakfast!</span><br />
            <span id="sub">delicious noodle</span>
          </div>
        </li>
        <li>
          <div class="hour">
            <span>9</span>
            <span id="sub">AM</span>
          </div>
          <div class="work">
            <span>Working on my new UI design!</span><br />
            <span id="sub">nice design !</span>
          </div>
        </li>
        <li>
          <div class="hour">
            <span>12</span>
            <span id="sub">AM</span>
          </div>
          <div class="work">
            <span>Lunchtime!</span><br />
            <span id="sub">awesome meat stew</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
