<div class="slider-wrapper">
  <ul class="flex-row-slider align-stretch" data-snap-slider="video-slider-link"> {% for mp4 in site.data.YouTube.items %}
    <li class="flex-small sm-half flex-medium med-one-third flex-large lg-one-fourth">
      <button class="card-image carousel-snap">
        <div class="thumb icontain">
          <iframe title="City Evangelical Church morning service {{ mp4.title | remove: "City Evangelical Church" }}" src="https://www.youtube-nocookie.com/embed/{{ mp4.guid | remove: "yt:video:" }}" allowfullscreen>
          </iframe>
        </div>
        <article>
          <h2> Morning service on {{ mp4.title | remove: "City Evangelical Church" }}</h2>
          <span>{{ talk.pubDate | date: "%-d %b %Y - %I:%M %p" }}{{ talk.author | split: "(" | last | remove: ")" }}</span>
        </article>
      </button>
    </li>{% endfor %}
  </ul>
  <ul class="slider-nav" data-snap-slider-nav="video-slider-link">
    <li><button class="muted-button" type="button">&#10096;<span class="screen-reader-text">Previous filmed service</span></button></li>
    <li><button class="muted-button" type="button">&#10097;<span class="screen-reader-text">Next filmed service</span></button></li>
  </ul>
</div>
