/**
 * Footer
 */

// Backgrounds
.alternate-background {
  background: $alternate-background;
  color: $alternate-color;
}

// Footer
footer {
  color: $footer-font-color; 
  background: $footer-background;
  a, h1, h2, h3, h4, h5, h6 {
    color: $footer-font-color;
  }
  ::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 20px;
    width: 100%;
    background: url($footer-bg-url) top center;
  }
}
