/* Footer */

footer {
  color: $footer-font-color; 
  background: $footer-background;
  a, h1, h2, h3, h4, h5, h6 {
    color: $footer-font-color;
  }
  .footer-bg-image {
    svg {
      width: 100%;
      height: auto;
    }
  }
  .footer-link-description {
    margin-bottom: $footer-margin-bottom;
  }
  #contacts {
    padding-bottom: 50px;
    
    .fa-users {
      font-size: 110px;
    }
  }
  .social-wrapper {
    .social-box {
      font-size: 30px;
      margin-bottom: 100px;
      @include flex-config(row nowrap, center, flex-start);
      li {
        margin: 5px;
        list-style: none;
      }
      a {
        color: $footer-font-color;
        margin: 10px;

        &:hover, &:focus {
          color: $secondary-color;
          margin: 10px;
        }
      }
    }
  }
}
