/* Footer */

footer {
  color: $footer-font-color; 
  background: $footer-background;
  a, h1, h2, h3, h4, h5, h6 {
    color: $footer-font-color;
  }
  .footer-bg-image {
    svg {
      width: 100%;
      height: auto;
    }
  }
  .footer-link-description {
    margin-bottom: $footer-margin-bottom;
  }
}

.social-box {
  @include flex-config(row nowrap, center, center);
  margin: 0;
  padding: 0;
  
  li {
    list-style: none;
    
    .social-box-icon {
      position: relative;
      display: flex;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      text-decoration: none;
      line-height: 1;
      font-size: 30px;
      margin-right: 6px;
      background: $muted-background;
      border: $muted-border;
      color: $muted-color;

      &:hover,
      &:focus {
        color: $muted-color-hover;
        border: $muted-border-hover;
        background: $muted-background-hover;
        text-decoration: none;
      }
      &li:last-child {
        margin-right: 0px;
      }
    }
  }
}
