.hero {
  /* flexbox */
  display: flex;
  flex-direction: column;
  flex: 1
  justify-content: center;
  
  /* Sizing */
  height: 100vh;

  /* Background styles */
  background-image: linear-gradient(rgba($primary-color, 0.95),rgba($primary-color, 0.40)), url('../img/master/skyline.jpg');
  background-size: cover;
  -o-background-size:cover; 
  -moz-background-size:cover; 
  -webkit-background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  
  /* Text styles */
  text-align: center;

  .hero-text {
    .hero-text-h1 {
      color: white;
      font-size: calc(2em + 3vmin);
    }
    a {
      text-decoration: none;
      pointer-events: none;
      font-size: calc(0.7em + 0.5vmin);
    }
  }
}

@include small-breakpoint {
  .hero {
    height: 85vh;
  }
}
