/*
 * Navigation
 */
// animate navigation links
%animate-href {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color $anim-duration ease;
  color: darken($accent-color, 10%);
  text-decoration-line: none;

  &:active,
  &:hover {
    color: $menu-hover-color;
    text-decoration-line: none;

    &:after {
      width: 100%;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: $hover-line-height;
    background: $menu-hover-color;
    transition: width $anim-duration ease;
  }
}

.logo .brand-logo {
  .city-svg-logo {
    viewBox: 0 0 40 40;
    width: $hamburger-menu-size;
    height: auto;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 202;
    .city-logo-white-fill {
      fill: rgba(#fff, 0.65);
     }
    .city-logo-black-fill { 
      fill: black;
    }
  }
  .toggle-svg .city-svg-logo {
    .city-logo-black-fill {
      transition: fill $anim-duration ease;
      fill: $menu-text-color;
    }
    .city-logo-white-fill {
      transition: fill $anim-duration ease;
      fill: rgba(#fff, 0);
    }
  }
}

.hamburger-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 201;

  .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 202;
    cursor: pointer;
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    border-radius: $hamburger-menu-border-radius;
    opacity: 0;

    &:checked {
      + .hamburger > div {
        transform: rotate(135deg);

        &:before {
          top: 0;
          transform: rotate(90deg);
        }

        &:after {
          top: 0;
          transform: rotate(90deg);
          opacity: 0;
        }
      }

      ~ .hamburger-menu {
        pointer-events: auto;
        visibility: visible;

        > div {
          transform: scale(1);
          transition-duration: 0.75s;

          > div {
            opacity: 1;
            transition: opacity $anim-duration ease $anim-duration;
          }
        }
      }
    }

    &:hover + .hamburger {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 201;
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    padding: 0.5em 0.75em;
    background: $hamburger-menu-bg-color;
    border-radius: $hamburger-menu-border-radius;
    cursor: pointer;
    transition: box-shadow $anim-duration ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      position: relative;
      flex: none;
      width: 100%;
      height: $hamburger-menu-line-height;
      background: $menu-text-color;
      transition: all $anim-duration ease;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: 201;
        top: -$hamburger-menu-size / 6;
        left: 0;
        width: 100%;
        height: $hamburger-menu-line-height;
        background: inherit;
        transition: all $anim-duration ease;
      }
      &:after {
        top: $hamburger-menu-size / 6;
      }
    }
  }

  .hamburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    

    > div {
      width: 200vw;
      height: 200vw;
      color: $menu-text-color;
      background: $content-bg-color;
      border-radius: 50%;
      transition: all $anim-duration ease;
      flex: none;
      transform: scale(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity $anim-duration ease;
        overflow-y: auto;
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;

        > ul {
          list-style: none;
          padding: 0 1em;
          margin: 0;
          display: block;
          max-height: 100vh;

          > li {
            padding: 0;
            margin: 0.5em;
            font-size: calc(1.1em + 1vmin);
            display: block;

            > a {
              color: $menu-text-color;

              &:after {
                z-index: 201;
              }
            }
          }
        }
      }
    }
  }
}

// hide menu list on phones
.navbar-wrapper {
  width: 100%;
  height: 8em;
  display: none;
}

// show two column list menu on tablets and above
@include medium-breakpoint {
  .navbar-wrapper {
    display: block;
    
    .navbar-menu {
      list-style: none;
      padding: 0;
      margin: 0;
          
      a {
        font-family: Sanchez-regular;
        font-size: 1.2rem;
      }
    }
  }
  
  .hamburger-wrapper {
    display: none;
  }
}

// Nav style
.nav-back,
.second-nav {
  font-family: Sanchez-regular;
  font-size: 1.2rem;
}

// Secondary nav
.second-nav ul { 
  list-style: none;
}

// Nav links
.animate-nav-link {
  @extend %animate-href;
}

.current,
.hamburger-menu a.current {
  color: $secondary-color !important;
}
