/* Accordion styles */

%accordion-ui {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin-left: 0;

    input {
      display: none;
    }

    label {
      display: flex;
      cursor: pointer;
      padding: 0.75rem 2.4rem 0.75rem 0;
      margin: 0;
      color: $accordion-color;
      background: $accordion-background;
      border-radius: $accordion-border-radius;
      margin-bottom: 3px;
      padding-left: 1.1rem;
      &:hover {
          background: darken($accordion-background, 10%);
      }
    }

    .accord-content {
      display: none;
      background: $accordion-content-background;
      padding: 1.1rem;
    }

    input:checked + label {
      background: darken($accordion-background, 10%);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: $accordion-border-radius;
      border-top-left-radius: $accordion-border-radius;
      margin-bottom: 0px;
      + .accord-content {
        display: block;
        border: darken($accordion-background, 10%);
        color: $accordion-font-color;
        border-left: $accordion-border-color;
        border-right: $accordion-border-color;
        border-bottom: $accordion-border-color;
        border-bottom-right-radius: $accordion-border-radius;
        border-bottom-left-radius: $accordion-border-radius;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        margin-bottom: 4px;
      }
    }

    label::before {
      content: "\276F";
      font-weight: normal;
      font-size: 120%;
      line-height: 1.1rem;
      padding: 0;
      position: absolute;
      right: 1.1rem;
      transition: all 0.20s ease-in-out;
    }

    input:checked + label::before {
      transform: rotate(90deg);
    }
  }
}

// Primary accordion
.accordion { 
    @extend %accordion-ui;
}

// Secondary accordion colour
.accent-accordion { 
    @extend %accordion-ui;
    li label {
        background: $accordion-accent-color;
        &:hover {
          background: darken($accordion-accent-color, 10%)
        }
    }
    li input:checked + label {
      background: darken($accordion-accent-color, 10%);
      + .accord-content {
        border-left: $accent-accordion-border-color;
        border-right: $accent-accordion-border-color;
        border-bottom: $accent-accordion-border-color;
      }
    }
}

// Square accordion
.square-accordion { 
    @extend %accordion-ui;
    li label {
        border-radius: 0;
    }
    li input:checked + label {
        border-radius: 0;
        + .accord-content {
          border-radius: 0;
        }
    }
}

// Muted accordion
.muted-accordion { 
    @extend %accordion-ui;
    li label {
        background: $muted-background;
        border: $muted-border;
        color: $muted-color;
        &:hover {
          color: $muted-color-hover;
          border: $muted-border-hover;
          background: $muted-background-hover;
        }
    }
    li input:checked + label {
        color: $muted-color-hover;
        border-top: $muted-border-hover;
        border-left: $muted-border-hover;
        border-right: $muted-border-hover;
        border-bottom: 0;
        background: $muted-background-hover;
        + .accord-content {
           border: $muted-border-hover;
           border-top: 0;
           border-left: $muted-border-hover;
           border-right: $muted-border-hover;
           border-bottom: $muted-border-hover;
           color: $muted-color;
           background: $muted-background;
       }
    }
}

// Round accordion
.round-accordion { 
    @extend %accordion-ui;
    li label {
        border-radius: $round-accordion;
    }
    li input:checked + label {
        border-top-right-radius: $round-accordion * 5 / 8;
        border-top-left-radius: $round-accordion * 5 / 8;
        + .accord-content {
          border-bottom-right-radius: $round-accordion * 5 / 8;
          border-bottom-left-radius: $round-accordion * 5 / 8;
        }
    }
}
