/* Preloader screen */
@keyframes loading-fadeout {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

#splash {
  align-items: center; 
  display: flex; 
  justify-content: center; 
  min-height: 100%;
  background: $splash-background; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 300; 
  width: 100%; 
  pointer-events: none; 
  color: $splash-font-color;
  animation-name: loading-fadeout; 
  animation-delay: 1.3s; 
  animation-duration: 0.3s; 
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  a {
    text-decoration-color: $splash-font-color; 
    color: $splash-font-color;
    
    .city-svg-logo {
      viewBox: 0 0 40 40;
      width: $hamburger-menu-size;
      height: auto;
        
      .city-logo-black-fill { 
        fill: black;
      }
    }
  }

  > div:not(.line) {
    padding: 0 30px 2em;
    animation-name: loading-fadeout; 
    animation-delay: 1s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .medium {
    display: inline-block; 
    margin: 0 0.15em;
  
    span {
      display: inline-block; 
      margin: 0 0.07em 0 0;
    
      &:first-child {
        margin-right: 0.1em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
    #splash .medium {display: block; margin: 0.15em 0 0.15em 0.15em;}
    #splash > div {text-align: center;}
}

/* Waves animation */
/* see https://codepen.io/KrzysiekF/pen/oNNLwZq */
/* to use add <div class="waves"></div> */

$wave-color: $secondary-color;

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: $wave-color;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, 1);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
