/* Preloader screen */
@keyframes loading-fadeout {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

* {margin: 0; padding: 0; font-weight: normal;}
body {background-attachment: fixed; color: #dde; font-family: 'times_new_romanregular', 'Times New Roman','Times',serif;}
#bananaleft, #bananaright {max-width: 650px; pointer-events: none; transition: transform 0.7s ease-in-out; transform: translateX(-100%); position: fixed; width: 24%; left: 0; top: calc(100px + 8%); height: calc(92% - 100px); opacity: 0.35; z-index: 9; object-fit: cover; object-position: 100% 0%;}
#bananaright {left: auto; right: 0; object-position: 0% 0%; transform: translateX(100%);}
.loaded #bananaleft, .loaded #bananaright {transform: translateX(0%);}
.lightmode:not(.bgcolor) #bananaleft, .lightmode:not(.bgcolor) #bananaright {filter: contrast(0%) brightness(50%) sepia(100%) hue-rotate(188deg) saturate(700%);}
html.lightmode:not(.bgcolor) {background-color: #dde;}
html.lightmode:not(.bgcolor) body {color: #0000ee;}
html.bgcolor body {color: #fffd;}
body, html {height: 100%;}
img {max-width: 100%;}
html {overflow-y: scroll; scroll-behavior: smooth; background: #0000ee;}
a {color: #dde; text-decoration-style: solid; /*solid dotted, dashed, and wavy*/ text-decoration-color: rgba(221,221,221,0.5);}
.lightmode:not(.bgcolor) a {color: #0000ee; text-decoration-color: rgba(0,0,238,0.5);}
.bgcolor a {color: #fffd;}
#splash a {text-decoration-color: #dde; color: #dde;}
body.black a {color: black;}
#innerbody {position: relative;}
#innerbody, #content .fullscreen, #splash {align-items: center; display: flex; justify-content: center; min-height: 100%;}
#darkmodeoverlay {background: #fff2; position: fixed; top: 0; left: 0; z-index: 8; width: 100%; pointer-events: none; opacity: 0; height: 100vh;}
#splash {background: #0000ee; position: fixed; top: 0; left: 0; z-index: 20; width: 100%; pointer-events: none; color: #dde;
    animation-name: loading-fadeout; 
    animation-delay: 1.3s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#splash > div:not(.line) {padding: 0 30px 2em;
    animation-name: loading-fadeout; 
    animation-delay: 1s; 
    animation-duration: 0.3s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#splash .medium {display: inline-block; margin: 0 0.15em;}
#splash .medium span {display: inline-block; margin: 0 0.07em 0 0;}
#splash .medium span:first-child {margin-right: 0.1em;}
@media screen and (max-width: 600px) {
    #splash .medium {display: block; margin: 0.15em 0 0.15em 0.15em;}
    #splash > div {text-align: center;}
}

/* Waves animation */
/* see https://codepen.io/KrzysiekF/pen/oNNLwZq */
/* to use add <div class="waves"></div> */

$wave-color: $secondary-color;

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: $wave-color;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, 1);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
