$card-font-color: white;

// Gradient Cards
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card {
  padding: 20px;
  height: 100%;
  min-height: 200px;
  @include flex-config(column nowrap, space-between);
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
  }
}

.card__icon {
  font-size: 2em;
}

.card__title {
  font-weight: 400;
  color: $card-font-color;
}

.card__apply {
  align-self: left;
}

// Flip Card
.card-container{
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 1;
}

.front,
.back {
  @extend .card;
  background-size: cover;
  background-position: center;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  padding: 0px;
  min-height: 280px;
  color: $card-font-color;
  font-size: 1.5rem;
}

.back {
  background: darken($accent-color, 20%);
  background: linear-gradient(45deg, darken($accent-color, 20%) 0%, black 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .75;
  background-color: $primary-color;
  backface-visibility: hidden;
  border-radius: 20px;
}

.card-container:hover {
  .front,
  .back {
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.card-container {
  .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .front {
    transform: rotateY(0deg);
  }

  &:hover .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

  &:hover .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
}

.front .inner {
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
    font-family: 'Sanchez';

    &:after {
      content: '';
      width: 4rem;
      height: 2px;
      position: absolute;
      background: $secondary-color;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -.75rem;
    }
  }
  span {
    color: rgba($card-font-color, 0.9);
  }
}

// Image Cards
.card-image {
  background: black;
  text-decoration: none;
  color: $accent-color;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  @include flex-config(column nowrap);
  height: 100%;
  position: relative;
  top: 0;
  transition: all .5s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
  }

  article {
    padding: 20px;
    @include flex-config(column nowrap, space-between);
    flex: 1;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    @include flex-config(column nowrap, center, center);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
  }

  /* typography */
  h2 {
    font-size: 1.25rem;
    margin: 0;
    color: $accent-color;
    text-align: left;
  }

  span {
    font-size: 0.75rem;
    font-weight: bold;
    color: $almost-white;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 1.5rem 0 0 0;
  }
}

.card-image.span {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

// Audio card
.card-audio {
  @extend .card-image;
  .thumb {
    padding-bottom: 15%;
    padding-top: 15%;
  }
  .thumb-title {
    color: $almost-white;
    font-size: 1rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  p {
    font-size: 0.6rem;
  }
  span {
    font-size: 0.5rem;
    margin: 1rem 0 0 0;
  }
  thumb-title {
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
