$card-font-color: white;

// Gradient Cards

.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card {
  padding: 20px;
  height: auto;
  min-height: 200px;
  @include flex-config(column nowrap, space-between);
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
  }
}

.card__icon {
  font-size: 2em;
}

.card__title {
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  align-self: left;
}

// Flip Card

.card-container{
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 1;
}

.front,
.back {
  @extend .card;
  background-size: cover;
  background-position: center;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
  text-align: center;
  padding: 0px;
  min-height: 280px;
  color: $card-font-color;
  font-size: 1.5rem;
}

.back {
  background: darken($accent-color, 20%);
  background: linear-gradient(45deg, darken($accent-color, 20%) 0%, black 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .75;
  background-color: $primary-color;
  backface-visibility: hidden;
  border-radius: 20px;
}

.card-container:hover {
  .front,
  .back {
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 2;
}

.card-container {
  .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
  }
  
  .front {
    transform: rotateY(0deg);
  }

  &:hover .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }

  &:hover .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
}

.front .inner {
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
    font-family: 'Sanchez';

    &:after {
      content: '';
      width: 4rem;
      height: 2px;
      position: absolute;
      background: $secondary-color;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -.75rem;
    }
  }
  span {
    color: rgba($card-font-color, 0.9);
  }
}

// Profile Card
.card-profile {
  @extend .card;
  @include flex-config(column nowrap, space-between, center);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  
  .card-details {
    background: #fff;
    width: 100%;
    height: 15%;
    z-index: 1;
    padding: 5px;
    border-radius: 10px;
    transition: .4s;
    transform: translateY(200px);
    opacity: 0;

    h3, p {
      text-align: center;
     
      .job-title {
        font-size: 1rem;
        line-height: 2.5rem;
        font-family: 'Sanchez-regular';
      }
    }
  }
}

// Card Social Icons
.card-social-icons {
  @extend .social-box;
  padding-top: 100px;
  z-index: 3;
  
  li {
    .social-button {
      background: #fff;
      font-size: 23px;
      color: #333;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0;
    } 
  }
}

.card-profile:hover {
  .card-social-icons li .card-icons {
    transform: translateY(40px);
    opacity: 1;
  }
  .card-details {
    transform: translateY(0px);
    opacity: 1;
  } 
}

.card-social-icons li .card-icons {
  &:hover {
    background: #000; 
    transition: .2s;
    .fab {
      color: #fff;
    }
  } 
  .fab {
    transition: .8s;
    
    &:hover {
      transform: rotateY(360deg);
      color: #fff;
    }
  } 
}

.card-profile {
  &:hover li:nth-child(1) .card-icons {
    transition-delay: 0.1s;
  }
  &:hover li:nth-child(2) .card-icons {
    transition-delay: 0.2s;
  }
  &:hover li:nth-child(3) .card-icons {
    transition-delay: 0.3s;
  }
}

// Image Cards

.card-image {
  background: black;
  text-decoration: none;
  color: $font-color;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  @include flex-config(column nowrap);
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .5s ease-in;

  &:hover {
    top: -2px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
  }

  article {
    padding: 20px;
    @include flex-config(column nowrap, space-between);
    flex: 1;
  }

  .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  p { 
    flex: 1; /* make p grow to fill available space*/
    line-height: 1.4;
    height: 100%;
  }

  /* typography */
  h2 {
    font-size: 20px;
    margin: 0;
    color: $font-color;
    text-align: left;
  }

  span {
    font-size: 12px;
    font-weight: bold;
    color: darken($accent-color, 10%);
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 2em 0 0 0;
  }
}
