/**
 * Flexgrid
 */
// https://www.dailysmarty.com/posts/streamlining-flexbox-calls-with-scss-mixins
@mixin flex-config($flex-flow, $justify: null, $align: null) {
  display: flex;
  flex-flow: $flex-flow;
  justify-content: $justify;
  align-items: $align;
}

$gutters: 0.5rem;
$margin-bottom: 1rem;

// The rows have a negative margin which are offset by the positive margins on the columns to create gutters.
%column-margin {
  margin-left: $gutters;
  margin-right: $gutters;
}

%row-margin {
  margin-left: -$gutters;
  margin-right: -$gutters;
}

// Flex grid
%flex-grid {
  display: flex;
  flex-wrap: wrap;
}

// Flex row
.flex-row {
  @extend %row-margin;
  @extend flex-config(row wrap)
}

// Flex column
.flex-col {
  @extend %flex-grid;
  flex-direction: column;
}

// Mobile first grid
.flex-small,
.flex-medium,
.flex-large {
  @extend %column-margin;
  flex-basis: 100%;
  margin-bottom: $margin-bottom;
}

// The gridbreak mixin generates the small, medium & large grid breakpoints
// e.g flex-small sm-one-third, flex-medium med-half
@mixin gridbreak($break-size, $break-size-abbr){
  .flex-#{$break-size} {
    flex: 1;
    &.#{$break-size-abbr}-half {
      flex: 0 0 calc(1 / 2 * 100% - #{$gutters} * 2);
    }
    &.#{$break-size-abbr}-one-fourth {
      flex: 0 0 calc(1 / 4 * 100% - #{$gutters} * 2);
    }
    &.#{$break-size-abbr}-three-fourths {
      flex: 0 0 calc(3 / 4 * 100% - #{$gutters} * 2);
    }
    &.#{$break-size-abbr}-one-third {
      flex: 0 0 calc(1 / 3 * 100% - #{$gutters} * 2);
    }
    &.#{$break-size-abbr}-two-thirds {
      flex: 0 0 calc(2 / 3 * 100% - #{$gutters} * 2);
    }
  }
}

/* Small screen breakpoint */

@include small-breakpoint {
  @include gridbreak(small, sm);
}

/* Medium screen breakpoint */

@include medium-breakpoint {
  @include gridbreak(medium, med);
}

/* Large screen breakpoint */

@include large-breakpoint {
  @include gridbreak(large, lg);
}
