/**
 * Flexgrid
 */
// https://www.dailysmarty.com/posts/streamlining-flexbox-calls-with-scss-mixins
@mixin flex-config($justify-content: false, $flex: false, $flex-direction: false, $align-items: false) {
  display: flex;
  
  @if $justify-content != false {
    justify-content: $justify-content;
  }
  
  @if $flex != false {
    flex: $flex;
  }
  
  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }
  
  @if $align-items != false {
    align-items: $align-items;
  }
}

$column-padding: 0.5rem;
$margin-bottom: 1rem;

// The rows have a negative margin  which are offset by the padding on the columns.
%column-padding {
  column-left: $column-padding;
  column-right: $column-padding;
}

%row-margin {
  margin-left: -$column-padding;
  margin-right: -$column-padding;
}

// Flex grid
%flex-grid {
  display: flex;
  flex-wrap: wrap;
}

// Flex row
.flex-row {
  @extend %row-margin;
  @extend %flex-grid;
  flex-direction: row;
}

// Flex column
.flex-col {
  @extend %flex-grid;
  flex-direction: column;
}

.flex-small,
.flex-medium,
.flex-large {
  @extend %column-padding;
  flex-basis: 100%;
  margin-bottom: $margin-bottom;
}

/* Small screen breakpoint */

@include small-breakpoint {
  .flex-small {
    flex: 1;
    &.sm-half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    &.sm-one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    &.sm-three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    &.sm-one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    &.sm-two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
}

/* Medium screen breakpoint */

@include medium-breakpoint {
  .flex-medium {
    flex: 1;
    &.med-half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    &.med-one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    &.med-three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    &.med-one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    &.med-two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
}

/* Large screen breakpoint */

@include large-breakpoint {
  .flex-large {
    flex: 1;
    &.lg-half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    &.lg-one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    &.lg-three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    &.lg-one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    &.lg-two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
}
