/**
 * Flexgrid
 */

$column-padding: 1rem;
$margin-bottom: 1rem;

// The rows have a negative margin  which are offset by the padding on the columns.
%column-padding {
  padding-left: $column-padding;
  padding-right: $column-padding;
}

%row-margin {
  margin-left: -$column-padding;
  margin-right: -$column-padding;
}

// Flex grid
%flex-grid {
  display: flex;
  flex-wrap: wrap;
}

// Flex row
.flex-row {
  @extend %row-margin;
  @extend %flex-grid;
  flex-direction: row;
}

// Flex column
.flex-col {
  @extend %flex-grid;
  flex-direction: column;
}

.flex-small,
.flex-medium,
.flex-large {
  @extend %column-padding;
  flex-basis: 100%;
  margin-bottom: $margin-bottom;
}

/* Small screen breakpoint */

@include small-breakpoint {
  .flex-small {
    flex: 1;
    margin-bottom: $margin-bottom;
    &.sm-half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    &.sm-one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    &.sm-three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    &.sm-one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    &.sm-two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
}

/* Medium screen breakpoint */

@include medium-breakpoint {
  .flex-medium {
    flex: 1;
    margin-bottom: $margin-bottom;
    &.med-half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    &.med-one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    &.med-three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    &.med-one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    &.med-two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
}

/* Large screen breakpoint */

@include large-breakpoint {
  .flex-large {
    flex: 1;
    margin-bottom: $margin-bottom;
    &.lg-half {
      flex: 0 0 calc(1 / 2 * 100%);
    }
    &.lg-one-fourth {
      flex: 0 0 calc(1 / 4 * 100%);
    }
    &.lg-three-fourths {
      flex: 0 0 calc(3 / 4 * 100%);
    }
    &.lg-one-third {
      flex: 0 0 calc(1 / 3 * 100%);
    }
    &.lg-two-thirds {
      flex: 0 0 calc(2 / 3 * 100%);
    }
  }
}
