/* Media */

// Responsive images
.responsive-image {
  max-width: 100%;
  height: auto;
}

// Fade in images with lozad lazy loading
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// keep embedded videos fluid
.fluid-video {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // keep 16x9 Aspect Ratio
}
.i4x3 { padding-bottom: 75.00%; } // keep 4x3 Aspect Ratio
.fluid-video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

// Netflix style slider
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Update: Removed the Flex property - IE FIX */
}

img {
  max-width: 100%;
  height: auto;
}

.netflix-slider {
  .swiper-wrapper {
    padding: 20px 0;
  }
  
  .swiper-slide {
    transition: 250ms all;
    
    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }

    &:first-child:hover {
      margin:0 40px;
    }

    &:last-child:hover {
      margin:0 -40px;
    }
  }
}
