// Snap Slider - https://github.com/tannerhodges/snap-slider

.flex-row-slider {
  @extend .flex-row;
  flex-flow: row nowrap;
  position: relative;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-behaviour: smooth;
}

.carousel-snap {
  scroll-snap-align: start;  // scroll snap child element of carousel
}

/**
 * Fix overflow scroll ignoring margin/padding.
 * https://chenhuijing.com/blog/flexbox-and-padding/
 * https://itnext.io/horizontal-overflow-with-flexbox-css-64f530495303
 */
.scrollfix::before,
.scrollfix::after {
  content: '';
  display: inline-block;
  flex: 0 0 auto;
  width: 1px;
  margin-left: -1px;
}
