// Snap Slider - https://github.com/tannerhodges/snap-slider
.flex-row-slider {
  @extend .flex-row;
  flex-flow: row nowrap;
  position: relative;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  scroll-behaviour: smooth;

  li {
    list-style: none;
  }
}

.carousel-snap {
  scroll-snap-align: start;  // scroll snap child element of carousel
}

// Slider nav positioning
.slider-wrapper {
  position: relative;

  .slider-nav {
    @include flex-config(row nowrap, center, center);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 20%;
  
    li {
      list-style: none;
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
