$calendar-color: blue;

.timeline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $calendar-color;
    
  ul {
    list-style: none;
    width: 100%;
    @include flex-config(column);
    padding: 0;
    padding-bottom: 30px;
    
    li {
      @include flex-config(row nowrap, center, center);
      margin-top: 30px;
      height: 60px;
          
      .date {
        font-size: 2.2em;
        @include flex-config(column, center, center);
        flex-basis: 15%;
            
        #month {
          font-size: 0.5em;
        }
      }
      .calendar-title {
        flex-basis: 80%;
        font-size: 1.2em;
        padding-bottom: 5px;
        border-bottom: 1px solid $calendar-color;
    
        #calendar-subtitle {
          font-size: 0.8em;
        }
      }
    }
  }
}
