$calendar-color: blue;

.timeline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $calendar-color;
    
  ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 30px;
    
    li {
      display: flex;
      flex-direction: row nowrap;
      align-items: bottom;
      margin-top: 30px;
      height: 60px;
          
      .date {
        font-size: 2.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 10%;
            
        #month {
          font-size: 0.5em;
        }
      }
      .calendar-title {
        flex-basis: 85%;
        font-size: 1.2em;
        padding-bottom: 5px;
        border-bottom: 1px solid $calendar-color;
    
        #calendar-subtitle {
          font-size: 0.8em;
        }
      }
    }
  }
}
