---
layout: default
---

{% assign type = page.collection_type %}
{% assign webpage = site.documents | where: "collection_type", type %}
<main class="content" id="main-content">
  <div class="medium-container">
  {% for page in webpage %}
    {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
    <section id="{{id}}" class="section p-{{id}}">
      <article>
        {% if page.title %}
        <h{{ page.heading }}>{{ page.title | upcase }}</h{{ page.heading }}>
        {% endif %}
        <div class="{{ page.container-size }}-container {{ page.style }}">
          {{ page.content }}
        </div>
      </article>
    </section>
    {% endfor %}

