---
layout: default
---

<main class="content {{ page.bg-color }}" id="main-content" tabindex="-1">
  {%- include templates/navbar.html %}
  <section class="content-section {{ page.bg-color }}">
    <article>
      <div class="container {{ page.style }}">
        {%- if page.title %}
        <div class="text-center">
          {%- include modules/nav-back.html %}
        </div>
        <h1>{{ page.title | upcase }}</h1>
        {%- endif %}
        {{ content }}
      </div>
    </article>
  </section>
</main>
