/**
 * Variables
 *
 * The majority of the configuration for the toolkit.
 */

//==============================================================================
// Containers
//==============================================================================

$tiny: 12.5em !default; // 200px
$x-small: 37.5em !default; // 600px
$small: 50em !default; // 800px
$medium: 62.5em !default; // 1000px
$large: 75em !default; // 1200px

//==============================================================================
// Breakpoints
//==============================================================================

$watch: $tiny !default;
$mobile: $x-small !default;
$tablet: $small !default;
$desktop: $medium !default;

//==============================================================================
// Global Colors
//==============================================================================

$background: white !default;
$primary-color: #259cd3 !default; //blue
$secondary-color: #f19426 !default; //orange
$third-color: #06892f !default; //green
$accent-color: #cdcdcd !default; // grey
$almost-white: #fafafa !default;
$alternate-background: #404040 !default;
$alternate-color: #fafafa !default;
$link-color: black !default;
$link-hover-color: darken($secondary-color, 15%) !default;
$highlight: lighten($secondary-color, 15%) !default;
$error: #d33c40 !default;
$success: #29de7d !default;
$bq-border: 0.7em solid $primary-color !default;
$bq-background: lighten($primary-color, 35%) !default;

//==============================================================================
// Typography
//==============================================================================

// Body
$font-size: 1rem !default;
$body-font-size: 1rem !default;
$font-style: normal !default;
$font-variant: normal !default;
$font-weight: normal !default;
$font-color: #404040 !default;
$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$line-height: 1.6 !default;

// Headings
$heading-font-color: #404040 !default;
$heading-font-weight: 900 !default;
$heading-font-family: Sanchez, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$heading-line-height: 1.2 !default;

$h1-mobile: 1.75rem !default;
$h2-mobile: 1.5rem !default;
$h3-mobile: 1.25rem !default;
$h4-mobile: 1.1rem !default;
$h5-mobile: 1rem !default;

$h1: 2.25rem !default;
$h2: 2rem !default;
$h3: 1.75rem !default;
$h4: 1.5rem !default;
$h5: 1.25rem !default;

//==============================================================================
// Footer and Preloader splash
//==============================================================================

$footer-background: #113a5c; // navy
$footer-font-color: white !default;
$splash-background: white;
$footer-margin-bottom: 0.5rem;

//==============================================================================
// Font Awesome Icons
//==============================================================================

$icon-color: $font-color;
$icon-size: 1rem !default;

//==============================================================================
// Spacing
//==============================================================================

$padding: 1rem !default;
$margins: 1.5rem !default;
$content-padding: 60px 0 !default;
$content-padding-mobile: 30px 0 !default;

//==============================================================================
// Borders
//==============================================================================

$border-width: 1px !default;
$border-style: solid !default;
$border-color: #dedede !default;
$border-radius: 4px !default;
$borders: $border-width $border-style $border-color !default;

//==============================================================================
// Buttons
//==============================================================================

$button-background: $primary-color !default;
$button-background-hover: darken($button-background, 10%) !default;
$button-color: #ffffff !default;
$button-font-weight: 600 !default;
$button-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$button-font-size: 1rem !default;
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-color: $button-background !default;
$button-border-radius: $border-radius !default;
$button-text-transform: none !default;

// Accent buttons
$accent-button-background: $secondary-color !default;
$accent-button-color: #ffffff !default;
$accent-button-color-hover: #ffffff !default;

// Muted Buttons
$muted-border: 1px solid $almost-white !default;
$muted-border-hover: 1px solid $almost-white !default;
$muted-background: transparent !default;
$muted-background-hover: rgba($secondary-color, 0.75);
$muted-color: $almost-white;
$muted-color-hover: $almost-white !default;

// Round Buttons
$round-buttons: 40px !default;

//==============================================================================
// Accordions
//==============================================================================

$accordion-color: $button-color;
$accordion-background: $button-background;
$accordion-font-color: $font-color;
$accordion-content-background: $background;
$accordion-border-color: 1px solid darken($accordion-background, 10%) !default;
$accordion-border-radius: $border-radius;

// Accent Accordions
$accordion-accent-color: $accent-button-background;
$accent-accordion-border-color: 1px solid darken($accordion-accent-color, 10%) !default;

//Muted Accordion variables are identical to Muted Buttons

//Round Accordions
$round-accordion: $round-buttons;

//==============================================================================
// Cards
//==============================================================================

$card-background: rgba($primary-color, 0.75) !default;
$card-underline: darken($secondary-color, 15%) !default;

//==============================================================================
// Calendar
//==============================================================================

$calendar-color: $font-color;
$calendar-accent-color: darken($accent-color, 10%) !default;
$calendar-black: black !default;
$calendar-date-font-size: 2rem;
$calendar-month-font-size: $font-size;
$calendar-title-font-size: 1.25rem;
$calendar-subtitle-font-size: $font-size;
$calendar-margin-padding: 1em;

//==============================================================================
// Forms
//==============================================================================

$forms: (
  '[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email],        [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea'
) !default;
$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]') !default;
$input-background: transparent !default;
$placeholder: darken($accent-color, 20%) !default;
$form-border: 1px solid $border-color !default;
$form-border-hover: 1px solid darken($border-color, 10%) !default;
$form-border-focus: 1px solid $primary-color !default;

//==============================================================================
// Tables
//==============================================================================

$stripes: #f8f8f8 !default;
$caption: #ababab !default;

//==============================================================================
// Code
//==============================================================================

$code-color: $font-color !default;
$code-size: 14px !default;
$code-family: Menlo, monospace !default;
$code-background: transparent !default;
$code-borders: $borders !default;

//==============================================================================
// Swiper
//==============================================================================

$themeColor: #007aff !default;
$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;

//==============================================================================
// Navigation
//==============================================================================

$hamburger-menu-size: 45px;
$hamburger-menu-border-radius: 2em !default;
$hamburger-menu-bg-color: rgba($primary-color, 0.75) !default;
$hamburger-menu-line-height: 4px;
$hover-line-height: $hamburger-menu-line-height;
$menu-text-color: $button-color !default;
$menu-hover-color: $link-hover-color !default;
$content-bg-color: rgba($alternate-background, 0.97) !default;
$anim-duration: 0.4s;

