<script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
  
<script>
// ----------------------------------------------------------
// Back To Top
// ----------------------------------------------------------

const application = Stimulus.Application.start()

application.register("viewport-entrance-toggle", class extends Stimulus.Controller {

  initialize() {
    this.intersectionObserver = new IntersectionObserver(entries => this.processIntersectionEntries(entries))
  }

  connect() {
    this.intersectionObserver.observe(this.element)
  }

  disconnect() {
    this.intersectionObserver.unobserve(this.element)
  }

  // Private

  processIntersectionEntries(entries) {
    entries.forEach(entry => {
      this.element.classList.toggle(this.data.get("class"), entry.isIntersecting)
    })
  }
})
</script>

<style>

.back-to-top-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 0 1rem #cfc;
}

.back-to-top__button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.back-to-top-container--intersecting .back-to-top__button {
  opacity: 0;
  visibility: hidden;
}

</style>

<div class="back-to-top-container back-to-top-container--intersecting" 
  data-controller="viewport-entrance-toggle" 
  data-viewport-entrance-toggle-class="back-to-top-container--intersecting">
  <button class="back-to-top__button button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">Back to top</button>
</div>
