<style>
/* RESET CSS */
* {margin: 0; padding: 0;}

/* CAROUSEL CSS */
.carousel {position: relative;}

.carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: inset 0px 0px 120px 30px rgba(0,0,0,0.35);
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.carousel ul {
  overflow: auto; 
  display: flex; 
  height: 40vw;
  max-height: 500px;
  scroll-snap-type: x mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-behavior: smooth;
  background: gray;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.carousel ul::-webkit-scrollbar {display: none; /* Hide scrollbar for Chrome, Safari and Opera */} 

.carousel ul li {
  min-width: 100%;
  list-style: none;
  background: url(https://images.pexels.com/photos/730896/pexels-photo-730896.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500) center center / cover no-repeat; 
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.75);
}

.carousel ul li div {z-index: 9;}

.carousel ul li div a {color: white; display: inline-block; background: white; text-shadow: none; color: black; padding: 5px 15px; font-size: 18px; text-decoration: none; border-radius: 4px; margin-top: 10px;}

.carousel ol {position: absolute; bottom: 15px; display: flex; justify-content: center; left: 50%; transform: translateX(-50%); z-index: 9;}

.carousel ol li {list-style: none; padding: 0 5px;}

.carousel ol li a {display: block; height: 10px; width: 10px; border: 2px solid white; background: transparent; border-radius: 100%;}

.carousel ol li.selected a {background: white;}

.carousel .prev, .carousel .next {user-select:none; cursor: pointer; font-size: 50px; color: white; position: absolute; left: 0; padding: 15px; top: 50%; transform: translateY(-50%); z-index: 9;}

.carousel .next {left: auto; right: 0;}

/* RESPONSIVE CSS */

@media only screen and (max-width: 600px) {
  .carousel ul li div {display: none;}
}

/* DEMO CSS */
.carousel ul li:nth-child(2) {background-image: url(https://images.pexels.com/photos/1056251/pexels-photo-1056251.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500);}
.carousel ul li:nth-child(3) {background-image: url(https://images.pexels.com/photos/4492170/pexels-photo-4492170.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500);}
.carousel ul li:nth-child(4) {background-image: url(https://images.pexels.com/photos/2558605/pexels-photo-2558605.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500);}
</style>

<div class="carousel" duration="7000">
  <ul>
    <li id="c1_slide1"><div>Nice cat number 1<br /><a href="https://www.google.com">adopt me</a></div></li>
    <li id="c1_slide2"><div>Nice cat number 2<br /><a href="https://www.google.com">adopt me</a></div></li>
    <li id="c1_slide3"><div>Nice cat number 3<br /><a href="https://www.google.com">adopt me</a></div></li>
    <li id="c1_slide4"><div>Nice cat number 4<br /><a href="https://www.google.com">adopt me</a></div></li>
  </ul>
  <ol>
    <li><a href="#c1_slide1"></a></li>
    <li><a href="#c1_slide2"></a></li>
    <li><a href="#c1_slide3"></a></li>
    <li><a href="#c1_slide4"></a></li>
  </ol>
  <div class="prev">&lsaquo;</div>
  <div class="next">&rsaquo;</div>
</div>
