<style>

.nav-back {
  font-family: Sanchez-regular;
  font-size: 1.2rem;
}

</style>

<nav>
  <div class="nav-back medium-container">
    <div class="flex-row justify-center">
      <div class="flex-medium med-one-fourth">
        {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
        {% assign current_page = crumbs.last | append: '/' %}
        {% assign previous = page.url | remove: current_page %}
        <a class="arrow-left-icon" href="{{ site.baseurl }}{{ previous }}"> {% if previous == '/' %}HOME{% else %}{{ previous | upcase | remove: '/' }}{% endif %}</a>
      </div>
    </div>
  </div>
</nav>
