<style>

.scrollToTopBtn {
  background-color: {[ site.color.darkgrey }};
  border: none;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  width: 48px;
  text-align: center;
  padding: 0.5px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 25px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all .5s ease
}
  
.scrollToTopBtn:hover, .scrollToTopBtn:focus, .scrollToTopBtn:active {
  color: black;
  background: orange;
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

</style>

<!-- Button on fixed on bottom right corner of the page -->
<button class="scrollToTopBtn">☝️</button>
